body {
    margin: 0;
    padding: 0;
}

.main {
    box-sizing: border-box;
    width: 750px;
    padding: 105px 54px 0 63px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

#return {
    width: 24px;
}

#more {
    width: 43px;
}

#playlist {
    font-size: 33px;
    font-family: SF Pro Text;
    font-weight: bold;
    color: rgba(55, 53, 57, 1);
}

.middle {
    width: 100%;
    height: 190px;
    border-bottom: 2px solid rgba(235, 235, 235, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middleLeft {
    display: flex;
    align-items: center;
}

.play {
    width: 31px;
    margin-right: 60px;
}

.middleText {
    display: flex;
    flex-direction: column;
}

.middleText>span:nth-child(1) {
    font-size: 29px;
    font-family: SF Pro Text;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 5px;
    color: rgba(55, 53, 57, 1);
}

.middleText>span:nth-child(2) {
    font-size: 27px;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: 36px;
    color: rgba(123, 122, 124, 1);
}

.middleRight {
    font-size: 27px;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: 36px;
    color: rgba(123, 122, 124, 1);
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 750px;
    height: 145px;
    background-color: #FAF7FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 54px 0 63px;
}

.bottomRight {
    width: 31px;
}

.bottomImg {
    width: 116px;
    margin-right: 33px;
}

.bottomLeft {
    display: flex;
    align-items: center;
}

.bottomText {
    display: flex;
    flex-direction: column;
}

.bottomText>span:nth-child(1) {
    font-size: 29px;
    font-family: SF Pro Text;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 5px;
    color: rgba(55, 53, 57, 1);
}

.bottomText>span:nth-child(2) {
    font-size: 27px;
    font-family: SF Pro Text;
    font-weight: 400;
    line-height: 36px;
    color: rgba(123, 122, 124, 1);
}